<h1>Suba una imagen</h1>

<form id="uploadPic" enctype="multipart/form-data" method="POST" action="http://localhost:3000/schools/uploadPicture/1">	
	<input type="file" name="profilePicture"> <br>
	<input type="submit" value="Subir imagen">
</form>


<h1>Pague con PayPal</h1>

<form method="POST" action="http://localhost/paypal/paypal_create">	
	Cantidad $<input type="text" name="qty"> <br>
	<input type="submit" value="Pagar">
</form>
