<table>
	<tr>
		<td>
			<img style="width:200px" src='https://www.menkind.co.uk/media/catalog/product/cache/image/800x800/e9c3970ab036de70892d86c6d221abfe/g/r/grumpy-old-git-lunch-tin-b21.jpg'>			
		</td>
		<td>
			<h1> Bienvenido {{name}} !! </h1>			
		</td>
	</tr>
</table>
Gracias por registrarte en nuestra pagina, <a href="{{confirm_link}}">da click aqui</a> para confirmar tu correo.
<br>
<br>
<br>

Atentamente: The Git-Lunch team